{
  "extends": "./packages/eslint-config-4catalyzer/index.js",
  "rules": {
    "global-require": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never" // need to support editor's versions of node as well
    }]
  }
}
