{
  "extends": [
    "./packages/eslint-config-4catalyzer/index.js",
    "./packages/eslint-config-4catalyzer-jest/index.js",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "global-require": "off",
    "prettier/prettier": "error"
  }
}
